
.css-cuefkz-MuiContainer-root {
  background-color: white;
  text-align: center;
  max-width: 600px;
  min-height: 100vh;
  /* border: solid 2px green; */
  margin: 0 auto;
  position: relative;
}

.addexp_box .css-q8hpuo-MuiFormControl-root {
  margin-top: 1rem;
}

.addexp_box .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  margin-top: 1rem;
}

.addexp_box .css-3jlnfv-MuiFormControl-root-MuiTextField-root {
  border-radius: 31px;
}

.addexp_box .background_grey {
  background-color: var(--gray-1);
}