:root {
  --red: #c80048;
  --red2: #eb1b67;
  --blue: #453f78;

  --gray-1: #e9e9e9;
  --gray-2: #d9d9d9;
  --gray-3: #b9b9b9;

  --header: linear-gradient(#c80048, #961c48);

  /* use these predefined colors by adding .. var()
    for example color : var(--red) */
}

/* Not necessary because navbar will be fixed
#transactions-container-id {
  min-height: 100%; 
} */

.css-cuefkz-MuiContainer-root {
  background-color: white;
  text-align: center;
  max-width: 600px;
  min-height: 100vh;
  /* border: solid 2px green; */
  margin: 0 auto;
  position: relative;
}

.addexp_box .css-q8hpuo-MuiFormControl-root {
  margin-top: 1rem;
}

.addexp_box .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  margin-top: 1rem;
}

.addexp_box .css-3jlnfv-MuiFormControl-root-MuiTextField-root {
  border-radius: 31px;
}

.addexp_box .background_grey {
  background-color: var(--gray-1);
}