.empty-msg{
width: 100%;
text-align: center;
margin: 0;
padding: 1em;
}
.empty-btn{
    border-radius: 2rem;
    border: 1px var(--gray-4) solid;
    font-size: 14px;
    padding: 0.3em 0.8em;
    cursor: pointer;;
}
.dash-graph-empty{
    border: solid 1px var(--gray-4);
    padding: 1.5em;
    border-radius: 1em;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      width: 100%;

}
.top-spending-title{
    font-size: 18px;
}

.empty-btn:hover{
    background-color: var(--red);
    transition: all ease 0.3s;
    color: var(--white-txt);
}

.graph-progress{
    border: solid 1px var(--gray-4);
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    cursor: pointer;
  
  }
  
  .graph-progress:hover{
    transform: scale(1.02);
    transition: all 0.3s ease
  }