.dash-container {
  display: flex;
  flex-direction: column;
  gap: 1.3em;

}
.dash-progress{
  border: solid 1px var(--gray-4);
  padding: 1.5em;
  border-radius: 1em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    background-color: white;

}

.dash-progress:hover{
  transform: scale(1.02);
  transition: all 0.3s 
}





/* 
================0===========
MUI styles
=========================== */
.linear-progress-container1 .MuiLinearProgress-bar1Determinate {
  background-color: var(--red);
  border-radius: 5rem;
}

.linear-progress-container1 .MuiLinearProgress-determinate {
  padding: 15px;
  margin-bottom: 1em;
  background-color: var(--gray-1);
  border-radius: 5em;
}
.linear-progress-container2 .MuiLinearProgress-bar1Determinate {
  background-color: var(--blue);
  border-radius: 5rem;
}

.linear-progress-container2 .MuiLinearProgress-determinate {
  padding: 15px;
  margin-bottom: 1em;
  background-color: var(--gray-1);
  border-radius: 5em;
}


.dash-h2 {
  text-align: left;
  color: var(--red);
  margin-top: 0.5em;
}

.dash-balance{
  text-align: left;
  color: var(--black);
  font-size: 25px;
  margin: 0;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 0.5px rgb(182, 182, 182) dashed;

}
.current-balance{
  text-align: left;
  color: var(--black);
  font-size: 15px;
  margin: 0;


}
.dash-expected {
  text-align: left;
  color: var(--black);
  font-size: 15px;
  margin: 0;
}

.linear-progress-container1 {
  position: relative;
}
.linear-progress-container2 {
  position: relative;
}
.progress-left {
  position: absolute;
  top: 4px;
  left: 10px;
  z-index: 2;
  margin: 0;
  font-size: 10px;
  color: var(--black-txt);
  /* font-family: "Inter", sans-serif; */
}
.progress-right {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 2;
  margin: 0;
  font-size: 10px;
  color: var(--black-txt);
}

.progress-left-card {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 2;
  margin: 0;
  font-size: 10px;
  color:var(--black-txt);
}
.progress-right-card {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 2;
  margin: 0;
  font-size: 10px;
  color: var(--black-txt);
}
.spent-title{
  color: var(--black-txt);
  text-align: left;
  margin-bottom: 3px;
  margin-left: 0.5em;
  font-size: 15px;
}




/* 
================0===========
Top spending
=========================== */
.dash-topSpending {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.dash-title {
  text-align: left;
}
.dash-icon-title {
scale: 1.3;
margin-left: 5px;
}
/* ===========================
dash budgets
========================= */
.dash-budget-wrapper{
margin-left: 0.5em;
}

.dash-budget-title {
  text-align: left;
  font-size: 20px;
  margin: 0em;
  font-weight: 700;
}
.dash-budget-info {
  color: var(--gray-4);
  font-size: 15px;
  margin: 0;

}
.dash-budget {
  display: flex;
  align-items: center;
  gap: 0.7em;
  margin-bottom: 1em;
}

.dash-icon {
  width: 50px;
  height: 50px;
}


/* .dash-filtering{
  border: solid 1px var(--gray-3);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  padding:  0.3em 1em;


} */

.filter-active {
  background-color: var(--red);
  border-radius: 1em;
}

.optionFilter{
  padding: 0px;
  margin: 0;
}

.dash-graph{
  margin-bottom: 1em;
}
.dash-graph h2{
  text-align: center;
  color: var(--black);
  font-size: 25px;
  margin: 0;
}
.dash-graph p{
  margin: 5px;
  font-size: 10px;
}



/* =======================
Swiper
==================== */
.swiper {
  width: 100%;
}
.swiper-wrapper {
  /* border: 2px solid red; */

  width: 90%;
  padding-bottom: 1em;
  border-radius:15px ;
}
.swiper-slide {
  box-sizing: border-box;
  width: 100%;
  background: #ffffff;
  border: 1px solid var(--gray-4);
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 15px;
  padding: 1em;


}
.swiper-scrollbar {
  width: 50px;

}
