.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app_name {
  text-decoration: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  animation: fadeIn 2s ease-in-out; /* Adjust the animation duration and timing function as needed */
}