.backtosignup {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  font-family: "Inter";
  color: #c80048;
  border: none;
  background: none;
  text-decoration: none;
  transition: all 0.3s ease;
}

.backtosignup:hover {
  transform: scale(1.1);
}

.login-title {
  color: var(--red);
  font-weight: bold;
}

.login {
  width: 150px;
  height: 35px;
  background-color: var(--red);
  border: none;
  border-radius: 15rem;
  color: white;
  cursor: pointer;
}

.login:hover {
  background-color: white;
  color: var(--red);
  border: 1px solid var(--red);
  transition: all ease 0.3s;
}
.bank {
  color: black;
}
.logo-title-login {
  color: var(--red);
  font-size: 35px;
  margin: 1em;
}
.error {
  margin: 1.5em;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 189, 189);
  padding: 0.7em;
  border-radius: 5px;
}
