.navbar-container{
    background:var(--header) ;
    position: fixed;
    top: 0;
    z-Index: 5;
    border-radius: 0 0 1.5em 1.5em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 450px;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 2em;
}
.navbar-title{
    color: white;
    font-weight: 700;
    text-align: center;
    justify-self: center;

}
.navbar-dropdown{
    justify-self: end;
}