@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --red: #c80048;
  --blue: #453f78;

  --white-txt:white;
  --black-txt:black;

  --gray-0: #f1f1f1;
  --gray-1: #e9e9e9;
  --gray-2: #d9d9d9;
  --gray-3: #b9b9b9;
  --gray-4: #8b8b8b;

  --header: linear-gradient(#c80048, #961c48);
  --bg-main: linear-gradient(#7F173C, #1C060E);
  --bg-board: rgba(255, 255, 255, 0.25);
  --bg-main-light:#E5CFD7;


  --black: rgb(48, 48, 48);
  --white:white;

  /* use these predefined colors by adding .. var()
  for example color : var(--red) */
}
.dark{
  --red: #c80048;
  --blue: #453f78;

  --white-txt:rgb(0, 0, 0);
  --black-txt:rgb(255, 255, 255);

  --gray-0: #f1f1f1;
  --gray-1: #e9e9e9;
  --gray-2: #d9d9d9;
  --gray-3: #b9b9b9;
  --gray-4: #8b8b8b;

  --header: linear-gradient(#c80048, #961c48);
  --bg-main: linear-gradient(#7F173C, #1C060E);
  --bg-board: rgba(241, 241, 241, 0.856);


  --black: rgb(48, 48, 48);
  --white:white;
}


.App {
  text-align: center;
  min-width: 320px;
  max-width: 600px;
  min-height: 100vh;
  /* border: solid 1px whitesmoke; */

  margin: 0 auto;
  /* margin-bottom: 90px; */
  /* background: linear-gradient(#1c060e, #7f173c); */
  /* padding: 1em; */
  font-family: "Inter", sans-serif;
  position: relative;



}
